*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out


# lambda
lib/lambda/cnvFile/package/
lib/lambda/cnvFile/.venv/
lib/lambda/cnvFile/deployment-package.zip
tmp_*
__pycache__/
out.png